body {
	color: black;
	font-size: 16px;
}

#header-nav{
	border-radius: 0;
	background-color: gray;
	border: 0;
}

#content-grid {
	background-color: gray;
}

h2 {
	margin-bottom: 30px;
}

.navbar-brand{
	padding-top: 0; 
}

.navbar-brand h1{
	margin: 0;
	text-transform: uppercase;
	color: black;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

p {
	padding: 5px;
}

#nav-list {
	text-align: center;
}

#nav-list a {
	color: black;
}

#nav-list a:hover {
	background-color: #a3a3a3;
}